# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*

# editor
.idea

# releases
volvo_cars.zip

# misc
.coverage
.mypy_cache
.ruff_cache
.DS_Store

coverage.xml
venv


# Home Assistant configuration
config/*
!config/configuration.yaml